{% extends 'base.html' %}

{% block title %}Bài viết{% endblock %}

{% block add_header %}
<h2 class="mt-4">Danh sách bài viết</h2>
{% endblock %}

{% block content %}
<div class="container mt-3">

  {% if posts %}
    <div class="row">
      {% for post in posts %}
        <div class="col-md-6 mb-4">
          <div class="card">
            {% if post.image_url %}
              <img src="{{ post.image_url }}" class="card-img-top" alt="Hình ảnh bài viết">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ post.content }}</p>
              <p class="text-muted"><small>Mã bài viết: {{ post.post_id }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">Hiện tại chưa có bài đăng nào!</p>
  {% endif %}

</div>
{% endblock %}
