{% extends 'base.html' %} {% block title %}Lấy lại mật khẩu{% endblock %} {%
block content %}
<h1>Lấy lại mật khẩu</h1>
<!-- Hiển thị thông báo flash -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<!-- thẻ form, dạng post, gửi đến url current -->
<form method="POST">
  {{ form.hidden_tag() }}
  <!-- nhãn + ô điền -->
  <div class="form-group">
    {{ form.username.label }} {{ form.username(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.email.label }} {{ form.email(class="form-control") }}
  </div>
  {{ form.submit(class="custom-auth-button") }}
</form>

{% endblock %}
