{% extends 'base.html' %} {% block title %}Trang chủ{% endblock %} {% block
add_header %}
<p>Welcome to the home page!</p>
{% if current_user.is_authenticated %}
<p>Bạn đã đăng nhập!</p>
{% else %}
<p>Bạn chưa đăng nhập</p>
{% endif %} {% endblock %} {% block content %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="{{ url_for('home.homepage') }}">
    <img
      src="{{ url_for('static', filename='image/home.png') }}"
      style="width: 30px"
      alt="home image"
    />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('post.create_post') }}"
          >Create Post</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('post.my_posts') }}">My Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('event.event')}}"> Events </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('event.event', user_id=current_user.id)}}">
          Participating Events
          <!-- sự kiện mà user đã đóng góp -->
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- danh sách sự kiện -->
<div class="container mt-4">
  {% for event in events %}
  <div class="col-md-12 col-lg-8 offset-lg-2">
    <div class="card mb-4 shadow-sm">
      <div class="row g-0">
        <!-- Hình ảnh bên trái -->
        <div class="col-md-4">
          <img
            src="{{ url_for('static', filename=event.image) }}"
            class="img-fluid h-100 rounded-start"
            alt="Event Image"
            style="object-fit: cover"
          />
        </div>

        <!-- Nội dung bên phải -->
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{ event.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Loại: {{ event.event_type }}
            </h6>
            <p class="card-text mb-1">
              <strong>Trạng thái:</strong> {{ event.status.name }}
            </p>
            <div class="d-flex justify-content-between mb-3">
              <div>
                <strong>Bắt đầu:</strong> {{ event.start_time.strftime('%d/%m/%Y
                %H:%M') }}
              </div>
              <div>
                <strong>Kết thúc:</strong> {{ event.end_time.strftime('%d/%m/%Y
                %H:%M') }}
              </div>
            </div>

            <!-- Nút tham gia -->
            {% if event.start_time <= now %}
            <a
              href="{{ url_for('event.displayAllDonations', event_id=event.id) }}"
              class="btn btn-outline-warning btn-sm {% if event.status_id == 3 %}disabled{% endif %}"
              >Chi tiết</a
            >
            {% else %}
            <button class="btn btn-outline-secondary mt-2" disabled>
              <i class="bi bi-clock"></i> Chưa bắt đầu
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
