<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <!-- Link CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <!-- con ke thua co the bo sung css rieng  -->
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    
    <!-- header = logo + webname + login + block thêm -->
    <header>
      <div class="top-bar"></div>
      <div class="header-logo">
        <div class="logo-image">
          <!-- logo -->
          <a href="{{ url_for('home.homepage') }}">
            <img
              src="{{ url_for('static', filename='image/logo.png') }}"  
              alt="logo"
              style="width: 50px"
            />
          </a>
        </div>  
        <div class="name-web">
          <p>ReBox</p>
        </div>
        <div class="select-login">
          <nav class="nav-select-login">
            {% if current_user.is_authenticated %}
            <p>Welcome, {{ current_user.username }}!</p>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a> |
            <a href="{{ url_for('auth.register') }}">Register</a> |
            <a href="{{ url_for('auth.adminLogin') }}">Admin</a>
            {% endif %}
          </nav>
          {% block add_header %} {% endblock %}
        </div>
        <div class="dropdown">
          <!-- Avatar hình tròn -->
          <a  id="avatarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.avatar or url_for('static', filename='image/avatar.png') }}" alt="avatar" class="rounded-circle" width="40" height="40" style="object-fit: cover; border: 2px solid #ccc; margin-left: 10px; cursor: pointer;">
          </a>
        
          <!-- Dropdown menu -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
            <li><a class="dropdown-item" href="{{url_for('accountManagement.view_profile')}}">Quản lý tài khoản</a></li>
            <li><a class="dropdown-item" href="{{url_for('post.my_posts')}}">My Posts</a></li>
            <li><a class="dropdown-item" href="{{url_for('post.create_post')}}">Create Post</a></li>
            {% if user.is_authenticated and user.has_role('admin') %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/test">My Events</a></li>
            <li><a class="dropdown-item" href="/test">Create Event</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
          </ul>
        </div>
        
      </div> 
      
    </div>
      
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2025 ⭐ ĐT1.N2 ⭐ PTTKHT</p>
        <!-- <p>
          <a href="{{ url_for('home.homepage') }}">Giới thiệu</a> ⭐ <a href="{{ url_for('home.homepage') }}">Liên hệ</a> ⭐
          <a href="{{ url_for('home.homepage') }}">Quy định sử dụng</a>
        </p> -->
      </div>
    </footer>

    <!-- Link JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap 5 Bundle (bao gồm Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
<!-- Bootstrap Bundle JS (gồm Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
  </script>


    <!-- // Thêm js xác nhận -->
    <script>
    document
      .getElementById("delete-account-li")
      .addEventListener("click", function () {
        if (confirm("Bạn chắc chắn muốn xóa tài khoản?")) {
          // Redirect đến route xóa tài khoản
          window.location.href =
            "{{ url_for('accountManagement.delete_account') }}";
        }
      });
      </script>


    {% block extra_js %}{% endblock %}
    <!--neu co bo sung file js-->
  </body>
</html>
