{% extends 'base.html' %}
<!-- .. -->
{% block title %}Thay đổi Mật Khẩu{% endblock %}
<!-- .. -->
{% block extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/accManagement.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth.css') }}" >


{% endblock %}
<!-- .. -->
{% block content %}
<!-- body -->
<div class="profile-container">
  <!-- Setting Thanh bên -->
  <aside class="sidebar">
    <div class="user-info">
      <img
        src="{{ url_for('static', filename='image/logo.png') }}"
        alt="Avatar"
        width="50px"
        class="avatar-user-info"
      />
      <!-- "{{ user.avatar_url }}"  -->
      <div>{{ user.fullname }}<br />{{ user.username }}</div>
    </div>
    <nav class="profile-menu">
      <ul>
        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
        <li><a href="{{url_for('test.afterlogin')}}">Create Post</a></li>
        <li>Posts</li>
        <li>My Posts</li>
        <li>Events</li>
        {% if has_role(current_user,'admin') %}
        <li>Create Events</li>
        <li>My Events</li>
        {%endif%}
      </ul>
      <h1>Account</h1>
      <ul>
        <li class="active">Quản Lý Tài Khoản</li>
        <li>Đăng xuất</li>
      </ul>
    </nav>
  </aside>
  <main class="accManagement-main">
    <header class="accManagement-header">
      <h1>Quản lý tài khoản</h1>
    </header>
    <div class="accManagement-tab">
      <ul>
        <li> <a href="{{url_for('accountManagement.view_profile')}}">My Profile</a></li>
        <li class="active">Đổi mật khẩu</li>
        <li>My Posts</li>
        <li id="delete-account-li">Xóa tài khoản</li>
      </ul>
      <div class="profile-content">
        <div class="profile-title">
          <div><h2>Thay đổi mật khẩu</h2></div>
          <!-- <button class="custom-profile-button">Edit ✏️</button> -->
        </div>
         <!--  -->
        <div class="change-pass">
          <!-- Hiển thị thông báo flash -->
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="flash {{category}}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}

          <form method="POST">
            {{ form.hidden_tag() }}
            <!-- nhãn + ô điền -->
            <div>{{ form.current_password.label }} {{ form.current_password(class="form-control") }}
              <!-- ---- -->
              {% if form.current_password.errors %}
              <!-- ---  -->
          
              <div class="errors">
                {% for error in form.current_password.errors %} {{ error }}<br />
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div>{{ form.new_password.label }} {{ form.new_password(class="form-control") }}
              {% if form.new_password.errors %}
              <!-- ---  -->
          
              <div class="errors">
                {% for error in form.new_password.errors %} {{ error }}<br />
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div>{{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
              {% if form.confirm_password.errors %}
              <!-- ---  -->
          
              <div class="errors">
                {% for error in form.confirm_password.errors %} {{ error }}<br />
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {{ form.submit(class="custom-auth-button") }}
         </form>
        </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
