{% extends 'base.html' %}
<!-- .. -->
{% block title %}Profile{% endblock %}
<!-- .. -->
{% block extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/accManagement.css') }}"
/>

{% endblock %}
<!-- .. -->
{% block content %}
<!-- body -->
<div class="profile-container">
  <!-- Setting Thanh bên -->
  <aside class="sidebar">
    <div class="user-info">
      <img
        src="{{ url_for('static', filename='image/logo.png') }}"
        alt="Avatar"
        width="50px"
        class="avatar-user-info"
      />
      <!-- "{{ user.avatar_url }}"  -->
      <div>{{ user.fullname }}<br />{{ user.username }}</div>
    </div>
    <nav class="profile-menu">
      <ul>
        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
        <li><a href="{{ url_for('post.create_post') }}">Create Post</a></li>
        <li><a href="{{ url_for('post.my_posts') }}">My Posts</a></li>
        <li><a href="{{ url_for('event.event') }}">Events</a></li>
        {% if has_role(current_user,'admin') %}
        <li>Create Events</li>
        <li>My Events</li>
        {%endif%}
      </ul>
      <h1>Account</h1>
      <ul>
        <li class="active">Quản Lý Tài Khoản</li>
        <li>Đăng xuất</li>
      </ul>
    </nav>
  </aside>
  <main class="accManagement-main">
    <header class="accManagement-header">
      <h1>Quản lý tài khoản</h1>
    </header>
    <div class="accManagement-tab">
      <ul>
        <li class="active">Profile</li>
        <li>
          <a href="{{url_for('accountManagement.change_password')}}"
            >Đổi mật khẩu</a
          >
        </li>
        <li>My Posts</li>
        <li id="delete-account-li">Xóa tài khoản</li>
      </ul>
      <div class="profile-content">
        <div class="profile-title">
          <div><h2>My Profile</h2></div>

          <a
            href="{{url_for('accountManagement.edit_profile')}}"
            class="custom-profile-button"
            >Edit Profile</a
          >
        </div>
        <section class="profile-header">
          <img src="{{user.avatar}}" alt="Avatar" width="120px" />
          <div>
            <h2>{{user.fullname}}</h2>
            <p>{{user_type}}</p>
            <p class="user-info-text">{{user.username}}</p>
          </div>
        </section>

        <section class="profile-info">
          <h1>Thông tin cá nhân</h1>
          <div class="info-grid">
            <p class="user-info-text">
              <strong>Họ và Tên: </strong>{{user.fullname}}
            </p>
            <p class="user-info-text">
              <strong>Ngày sinh:</strong>{{user.date_of_birth}}
            </p>
            <p class="user-info-text">
              <strong>Giới tính:</strong>{{user.gender}}
            </p>
            <p class="user-info-text">
              <strong>Địa chỉ:</strong>{{user.address}}
            </p>
          </div>
        </section>
        <section class="contact-info">
          <h1>Thông tin liên hệ</h1>
          <div class="info-grid">
            <p class="user-info-text"><strong>Email: </strong>{{user.email}}</p>
            <p class="user-info-text">
              <strong>Số điện thoại: </strong>{{user.phone}}
            </p>
            <p class="user-info-text">
              <strong>Facebook:</strong>{{user.facebook}}
            </p>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>

{% endblock %}
